.projects .image {
  text-align: center;
}

.projects .image img {
  height: 30vh;
}

.projects h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.projects .tb {
  width: 90%;
  margin: 0 auto;
}

.projects .react-tabs {
  text-align: center;
}

.projects .react-tabs__tab-list {
  padding: 0;
  border-bottom: none;
  margin: 0 auto;
}

.projects .react-tabs__tab {
  width: 90%;
  text-align: center;
  font-size: 18px;
}

.projects .react-tabs__tab--selected {
  background-color: purple;
  color: #fff;
}

.projects .tb h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}

/* ................ Desktop ................. */

@media only screen and (min-width: 768px) {
  .projects {
    width: 85%;
    margin: 0 auto;
  }

  .projects .react-tabs__tab {
    width: 40%;
  }
}
