.details {
  width: 95%;
  margin: 0 auto;
}

.details img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.details h2 {
  font-size: 2rem;
  margin: 5px 0;
}

.details p {
  line-height: 2.2rem;
}

/* ................ Desktop ................. */

@media only screen and (min-width: 768px) {
  .details {
    width: 65%;
  }

  .details img {
    height: 65vh;
  }

  .details h2 {
    font-size: 2.5rem;
  }
}
